html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
    font-family:"microsoft yahei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    font-size: 100%;
}
html,body{
    color: #333;
    background:#fff;
    height:100%;
}
body{
    overflow-x: hidden;
    height:100%;
}
ul,ol,li{
    list-style: none;
}
a:link,a:visited{
    color: #333;
    text-decoration: none;
}
img{
    border: none;
    cursor: pointer;
}
em{
    font-style: normal;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}

/*panel*/
.panel{
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	overflow:auto;
}
.bg_pop{
	position:fixed;
	width:100%;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.4);
	z-index:99999;
}

/*fw_main_content*/
.fw_main_content{
	position:relative;
	width:1200px;
	margin:auto;
}
.bd_info_top{
	width:100%;
	position:fixed;
	top:65px;
	background:#fff;
	z-index:99999;
	padding:10px 0;
	box-shadow: 1px 1px 5px #d0d0d0;
	height: 195px;
}
.info_top_con{
	width:1200px;
	margin:auto;
	position:relative;
}
.info_nav{
	position:absolute;
	top:0;
	left:0;
	width:230px;
}
.info_nav li{
	line-height:35px;
	margin:5px auto;
	font-size:14px;
	text-indent:50px;
	color:#333;
	font-weight:bold;
	cursor:pointer;
}
.info_nav li.current{
	color:#f2862c;
}
.info_nav li:nth-child(1){
	background:url(images/icon_info.png) left center no-repeat;
	background-size:12% 72%;
}
.info_nav li:nth-child(2){
	background:url(images/icon_check.png) left center no-repeat;
	background-size:12% 72%;
}
.info_nav li:nth-child(3){
	background:url(images/icon_view.png) left center no-repeat;
	background-size:12% 72%;
}
.info_nav li:nth-child(4){
	background:url(images/icon_info_his.png) left center no-repeat;
	background-size:12% 72%;
}
.info_nav li:nth-child(5){
	background:url(images/icon_oper_his.png) left center no-repeat;
	background-size:12% 72%;
}
.info_top_r{
	margin-left:230px;
}
.box_table{
	position:relative;
}
.table_title{
	padding-left:20px;
	margin-bottom:10px;
	line-height:30px;
	font-size:16px;
	border-bottom:2px solid #f2862c;
	font-weight:bold;
	position:relative;
}
.button{
	outline:none;
	padding:5px 20px;
	background:#efeff4;
	border:none;
	font-size:14px;
	margin:auto 10px 10px 10px;
	cursor:pointer;
	border-radius:2px;
}
.fw_table,.pop_table{
	width:100%;
	border-collapse:collapse;
}
.fw_table tr td,.pop_table tr td{
	height:36px;
	border:transparent;
	text-align:center;
	font-size:12px;
	position:relative;
	padding:0 5px;
}
.fw_table tr:nth-child(odd){
	background: #f7f7f7;
}
.fw_table tr.t_head td,.pop_table tr.t_head td{
	font-weight:bold;
	font-size:14px;
	background:rgba(255, 116, 0, 0.08);
}
.td_oper{
	text-align:center;
}
.td_oper span{
	display:inline-block;
	margin:0 5px;
	color:#fff;
	border: 1px solid transparent;
	background: #4ec5ff;
	border-radius: 3px;
	padding: 5px 10px;
	cursor:pointer;
}
span.fw_chuli_disaabled{
	background:#C0C0C0;
}
.bd_info_con{
	margin-top:20px;
	padding-top:10px;
	/*border-top:1px solid #999;*/
	display:none;
}
.bd_info_con:first-child{
	display:block;
}
.fw_table_form{
	width:100%;
	margin-bottom:20px;
}
.fw_table_form tr td{
	font-size:12px;
	padding:10px 0;
	position:relative;
}
.fw_table_form tr td:nth-child(odd){
	text-align:right;
}
.input{
	outline:none;
	border:1px solid #d8d4d4;
	border-radius:2px;
	background:none;
	width:100%;
	box-sizing:border-box;
	padding:0 10px;
	height:28px;
	line-height:28px;
	transition:border linear 0.2s, box-shadow linear 0.2s;
}
.input:focus{
	border:1px solid #ccc;
	box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input_date{
	background:url(images/icon_date.png) right center no-repeat;
	background-size:contain;
}
.select{
	outline:none;
	border:1px solid #d8d4d4;
	border-radius:2px;
	background:none;
	width:100%;
	box-sizing:border-box;
	height:28px;
	font-size:12px;
	padding:0;
	transition:border linear 0.2s, box-shadow linear 0.2s;
}
.select:focus{
	border:1px solid #ccc;
	box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.075);
}
.box_user_info{
	text-align:center;
	position:relative;
}
.user_info_title{
	display:inline-block;
}
.fw_table_noborder tr td{
	border:none;
	padding:5px;
}
.icon_add,.icon_delete{
	display:inline-block;
	width:25px;
	height:25px;
	margin:10px;
	cursor:pointer;
}
.icon_add{
	background:url(images/icon_add.png) center center no-repeat;
}
.icon_delete{
	background:url(images/icon_delete.png) center center no-repeat;
}
.list_oper{
	position:absolute;
	right:0;
	top:-60px;
}
.btn_calc{
	width:70px;
	cursor:pointer;
}
.input_small{
	width:80%;
	margin-right:10px;
}
.top_position{
	top:0;
}
.gaozhi{
	padding:20px 0;
}
.text_area{
	outline:none;
	width:100%;
	height:200px;
	resize:none;
	border:1px solid #d8d4d4;
	box-sizing:border-box;
	padding:10px;
	background:none;
	margin-bottom:10px;
	border-radius:2px;
	transition:border linear 0.2s, box-shadow linear 0.2s;
	font-size:12px;
}
.text_area:focus{
	border:1px solid #ccc;
	box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has_tip{
	content:'A10010';
	position:absolute;
	right:-20px;
	top:-10px;
	padding:2px 5px;
	background:#ff0000;
	color:#fff;
	display:inline-block;
	display:none;
	cursor:pointer;
	z-index:9999;
}
.show_tip_con{
	font-size:12px;
	background:#f1f1f1;
	width:200px;;
	position:absolute;
	top:-60px;
	right:-276px;
	padding:20px 40px;
	z-index:999;
	border-radius:4px;
}
.box_edit_zhou{
	position:absolute;
	width:200px;
	padding:10px 20px 0 20px;
	background:#f1f1f1;
	text-align:center;
	font-size:12px;
	line-height:40px;
	display:none;
	top:56px;
	z-index:999;
}
.icon_hui{
	position:absolute;
	right:-10px;
	top:-10px;
	z-index:999;
}
.xiafa_hide{
	position:fixed;
	top:50%;
	left:50%;
	z-index:999999999;
	transform:translate(-50%,-50%);
	width:650px;
	background:#fff;
	display:none;
}
.box_titles{
	height:52px;
	line-height:52px;
	font-size:16px;
	background:#333;
	padding:0 20px;
	color:#fff;
}
.box_contents{
	padding:0 20px 10px 20px;
	font-size:14px;
}
.pop_sub_title{
	padding:5px 0;
}
.pop_table tr td{
	font-size:14px;
}
span.cancel{
	color:#999999;
	background: transparent;
	border: 1px solid #999;
}
.text_area_small{
	height:100px;
}
.zhaohui_hide{
	width:535px;
}
.form_bottom{
	width:500px;
	margin:auto;
}
.has_btn_style span{
	background:#f2862c;
	color:#fff;
	padding:5px 20px;
	border-radius:5px;
}
.has_btn_style .cancel{
	background:#999;
}
.table_span_orange{
	position:relative;
}
.table_span_orange span{
	display:block;
	color:#f2862c;
	text-align:left;
}
.box_radio{
	padding:20px;
	font-size:12px;
}
.box_radio input,.box_radio label{
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}
/*.box_radio input{
	width:20px;
	height:20px;
}*/
.box_radio label{
	margin:auto 30px auto 10px;
}
.box_yaoqiu{
	width:80%;
	margin:20px auto auto 20px;
}
.box_btn{
	margin:30px auto;
	text-align:center;
}
.btn_submit{
	cursor:pointer;
	outline:none;
	padding:5px 30px;
	color:#fff;
	font-size:14px;
	background:#f2862c;
	border-radius:5px;
	border:none;
}
.box_tree{
	position:absolute;
	top:42px;
	overflow:auto;
	background:#fff;
	z-index:999;
	border:1px solid #999;
	width:100%;
	display:none;
}
.clear{
	clear:both;
}

.arrows{
	display:inline-block;
	width:30px;
	height:30px;
	right:0;
	top:0;
	position:absolute;
	cursor:pointer;
	transition:transform 100ms;
	background:url(images/icon_arrow_down.png) center center no-repeat;
}
.list_dialog{
	position:absolute;
	width:97.5%;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #999;
	bottom:119px;
	display:none;
}
.list_dialog li{
	line-height:30px;
	text-align:left;
	border-bottom:1px solid #ccc;
	font-size:12px;
	text-indent:10px;
	cursor:pointer;
}
.list_dialog li:hover{
	background:#ccc;
}
.list_dialog li:last-child{
	border-bottom:none;
}
.select_citys{
	width:30%;
}
.info_nav_contents{
	position:absolute;
	width:100%;
	top:280px;
}
/**/
.fixed_img{
	position: fixed;
	left: 0;
	top: 50%;
	cursor: pointer;
	border: 1px solid #ccc;
}

.slide_table{
	background: #f7f7f7;
	padding: 10px;
}
.fw_diaoche_select{
	height: 28px;
	border: 1px solid #ccc;
	padding: 0 0 0 10px;
	margin-right: 40px;
}
.fw_diaoche_search{
	display: inline-block;
    margin: 0 5px;
    color: #fff;
    border: 1px solid transparent;
    background: #4ec5ff;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

/*date*/

.date_selector, .date_selector *{width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;}

.date_selector{background:#fbfbfb;border: 1px solid #ccc;padding: 10px;margin:0;margin-top:-1px;position: absolute;z-index:100000;display:none;border-radius: 3px;box-shadow: 0 0 5px #aaa;box-shadow:0 2px 2px #ccc; width:220px;}

.date_selector_ieframe{position: absolute;z-index: 99999;display: none;}

.date_selector .nav{width: 17.5em;}

.date_selector .nav p{clear: none;}

.date_selector .month_nav, .date_selector .year_nav{margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center;}

.date_selector .month_nav{float: left;width: 55%;}

.date_selector .year_nav{float: right;width: 42%;margin-right: -8px;}

.date_selector .month_name, .date_selector .year_name{font-weight: bold;line-height: 20px;}

.date_selector .button{display: block;position: absolute;top: 0;width:18px;height:18px;line-height:16px;font-weight:bold;color:#5985c7;text-align: center;font-size:12px;overflow:hidden;border: 1px solid #ccc;border-radius:2px;}

.date_selector .button:hover, .date_selector .button.hover{background:#f2862c;color: #fff;cursor: pointer;}

.date_selector .prev{left: 0;}

.date_selector .next{right: 0;}

.date_selector table{border-spacing: 0;border-collapse: collapse;clear: both;margin: 0; width:220px;}

.date_selector th, .date_selector td{width: 2.5em;height: 2em;padding: 0 !important;text-align: center !important;color: #666;font-weight: normal;}

.date_selector th{font-size: 12px;}

.date_selector td{border:1px solid #f1f1f1;line-height: 2em;text-align: center;white-space: nowrap;color:#5985c7;background: #fff;}

.date_selector td.today{background: #eee;}

.date_selector td.unselected_month{color: #ccc;}

.date_selector td.selectable_day{cursor: pointer;}

.date_selector td.selected{background:#f2862c;color: #fff;font-weight: bold;}

.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover{background:rgba(242, 134, 44, 0.59);color: #fff;}

.box_process{
	position:fixed;
	padding:10px 20px;
	background:#fff;
	width:170px;
	display:none;
	top:0;
	left:0;
	z-index:9999999;
}
.box_process ul{
	position:relative;
}
.box_process ul:before{
	content:'';
	border-left:1px solid #ccc;
	position:absolute;
	top:10px;
	bottom:10px;
	left:0;
}
.box_process li{
	padding:0 20px;
	position:relative;
}
.pro_text,.pro_sub_text{
	font-size:14px;
	font-weight:bold;
	padding:5px 0 8px 0;
}
.pro_sub_text{
	font-size:12px;
	font-weight:normal;
	border-bottom:1px solid #ccc;
}
.icon_points_cur,.icon_points{
	display:inline-block;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:-10px;
}
.icon_points_cur{
	background:url(images/icon_points_cur.png) center center no-repeat;
	background-size:15px 15px;
}
.icon_points{
	background:url(images/icon_points.png) center center no-repeat;
	background-size:8px 8px;
}
.pro_close{
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}
.user_info_links{
	position:absolute;
	right:0;
	top:0;
	color:#7A7CFC;
	font-size:14px;
}
.user_info_links img,.user_info_links span{
	vertical-align:middle;
}
.input_disable{
	background:rgba(0,0,0,0.1);
}

/*l_css*/
.toubaoren,.beibaoren{
    font-size: 15px;
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
    cursor: pointer;
}
.t_food td{
    font-weight:bold;
    background: #ffffff;
}
.tag_info{
    overflow: hidden;
    margin: 20px 20px 0 50px;
}
.tag_info .tag_baodan{
    width: 104px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    float: left;
    font-size: 12px;
    background: #ffffff;
    cursor: pointer;
}
.tag_info .cur{
    border-top: 1px solid #ff9000;
    border-left: 1px solid #ff9000;
    border-right: 1px solid #ff9000;
}
.line{
    height: 1px;
    margin: -2px 20px 0 50px;
    border-bottom: 1px solid #ff9000;
}
.tag_more{
    float: right;
}
.tag_more i{
    font-style: normal;
}
.tag_more a{
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 12px;
    margin-top: 4px;
    position: relative;
}
.icon_arrows{
    display: inline-block;
    width: 30px;
    height: 30px;
    right: 6px;
    top: 0;
    position: absolute;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 100ms;
    background: url(images/icon_arrow_down.png) center center no-repeat;
}
.info_hb{
    display: none;
}
.book_info .info_nav li:nth-child(1) {
    background: url(images/cptk.png) left center no-repeat;
    background-size: 18% 90%;
}
.book_info .info_nav li:nth-child(2) {
    background: url(images/cbgz.png) left center no-repeat;
    background-size: 18% 64%;
}
.book_info .info_nav li:nth-child(3) {
    background: url(images/dfzc.png) left center no-repeat;
    background-size: 16% 78%;
}
.book_info .info_nav li:nth-child(4) {
    background: url(images/dfzc.png) left center no-repeat;
    background-size: 16% 78%;
}
.book_info .tag_more a{
    width: auto;
    margin-right: 15px;
}
.book_info .info_nav{
    width: 170px;
    border-right: 1px solid #cccccc;
}
.book_info .info_top_r{
    margin-left: 170px;
}
.book_info .tag_baodan{
    font-weight: bold;
}
.xz_type{
    margin: 18px 20px 18px 50px;
}
.xz_type span{
    display: inline-block;
    font-size: 13px;
    width: 96px;
    text-align: center;
    border-left: 1px solid #cccccc;
}
.xz_type span:nth-child(1){
    border-left: none;
    margin-left: -28px;
}
.input_cx .til{
    font-weight: bold;
    padding-right: 10px;
}
.input_cx .btn{
    padding-left: 36px;
}
.input_cx .btn span{
    width: 100px;
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    text-align: center;
    display: block;
    background: #ff9000;
    color: #ffffff;
}
/*icon-alert*/
.risk-wrap{
	width: 304px;
	height: 82px;
	margin:4px auto 0;
}
.risk-wrap li{
	float: left;
	width: 58px;
	height: 100%;
	cursor: default;
}
.r-policy{
	background: url(images/icon_zc.png) no-repeat center;
}
.r-health{
	margin:0 60px;
	background: url(images/icon_jk.png) no-repeat center;
}
.r-finance{
	background: url(images/icon_cw.png) no-repeat center;
}
.risk-bg{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}
.r-health-alert{
	width: 800px;
	height: 288px;
	background: url(images/tu-jk.jpg) no-repeat center;
}
.r-finance-alert{
	width: 508px;
	height: 327px;
	background: url(images/tu-cw.jpg) no-repeat center;
}
.r-health-alert,.r-finance-alert{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100000;
}
.alert-bg1,.alert-bg2{
	display: none;
}
.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
}
#tool-inwrap{
	position: relative;
}
.h-b-t-inwrap{
	position: fixed;
	top:15px;
	left: 52%;
}
.tool-flower,.tool-wrap{
	width: 32px;
	height: 32px;
	background: url(images/huaban.png) no-repeat center;
}
.tool-wrap{
	width: 100px;
	height: 100px;
	position: fixed;
    top: 10px;
    left: 57%;
    transition: All 0.4s ease-in-out;
    animation: flower 1s;
    display: none;
}
@keyframes flower{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
#tool-inwrap-1,#tool-inwrap-2,#tool-inwrap-3,#tool-inwrap-4{
	width:25px;
	height: 25px;
	position: absolute;
	cursor: pointer;
}
#tool-inwrap-1{
	left: 14px;
    top: 11px;
	background: url(images/zhexian.png) no-repeat center;
}
#tool-inwrap-2{
	left: 63px;
    top: 13px;
	background: url(images/book.png) no-repeat center;
}
#tool-inwrap-3{
	top:64px;
	left:11px;
	background: url(images/sousuo.png) no-repeat center;
}
#tool-inwrap-4{
	top:64px;
	left:63px;
	background: url(images/icon_oper_his.png) no-repeat center;
}
.r-policy,.r-health,.r-finance,.r-health-alert,.r-finance-alert,.tool-flower,.tool-wrap,#tool-inwrap-1,#tool-inwrap-2,#tool-inwrap-3,#tool-inwrap-4{
	background-size: cover;
}
.panel div.bd-top-zindex{
	z-index: 1000011;
}
.s-t-bg{
	background-color: #FFFFFF;
}
